*.o
*.log
*.trs
.deps/
/chomp
/copyfile
/dir
/fexist
/fisdir
/fopenf
/fsendfile
/lfile
/makepath
/pidfile
/printhdr
/progress
/rsync
/runbg
/str
/strmatch
/systemf
/tempfile
/touch
/tree
/which
/yorn
